//CSS for outer container
.right-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


//CSS for nav bar
.right-container-nav-bar {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

//CSS for nav bar names
.nav-bar-tabs {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

// CSS for today, hover and active states
.today {
    margin-right: 10px;
    color: #c5c5c5
}

.today:hover {
    color: #1a1a1a;
    cursor: pointer;
}

.today-active{
    color: #1a1a1a;
}

//CSS for week, hover and active states
.week {
    color: #c5c5c5;
    margin-right: 2px;
}

.week:hover {
    color: #1a1a1a;
    cursor: pointer;
}

.week-active {
    color: #1a1a1a;
}

//CSS for onclick underline
.underline {
    width: 47px;
    height: 1.5px;
    background-color: #1a1a1a;
    margin-top: 22px;
}

.underline-today {
    transform: translate3d(-220%, 0, 0);
    transition: 100ms;
}

.underline-week {
    transform: translate3d(-98%, 0, 0);
    transition: 100ms;
}

//CSS fro nav bar matric
.nav-bar-matric {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
}

//CSS for Celsius and Fahrenheit
.celsius {
    border-radius: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1a1a1a;
    background-color: #ffffff;
    font-size: small;
    margin-right: 10px;
    margin-top: 10px;
}

.celsius:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #1a1a1a;
}
.celsius-active{
    color: #ffffff;
    background-color: #1a1a1a;
}  
.fahrenheit{
    border-radius: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1a1a1a;
    background-color: #ffffff;
    font-size: small;
    margin-right: 10px;
    margin-top: 10px;
}
.fahrenheit-active{
    color: #ffffff;
    background-color: #1a1a1a;
}   

.fahrenheit:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #1a1a1a;
}

//CSS for profile image
.profile-image img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;

}
.right-container-content-box {
    flex: 12;
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 5px;
}

.right-container-week-cards{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: red;
}

.card{
    width: 100px;
    height: 115px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    font-weight: 500;

}

.card-day{
    margin: 5px;
    margin-top: 7px;
}

.card_temp-img img{
    width: 50px;
    height: 50px;
}
.card-temp-value{
    margin: 3px;
    margin-top: 10px;
}

.right-container-today-cards{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-container-todays-highlight{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.right-container-todays-highlight-title{
    margin-top: 30px;
    // margin-bottom: 10px;
    flex: 2;
    font-size: small;
    font-weight: bold;
}

.right-container-todays-highlight-cards{
    display: flex;
    flex: 8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin-top: -20px;
}

.right-container-todays-highlight-card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;

}

.gauge{
    flex: 2;
    width: 50%;
    max-width: 180px;
    font-size: 32px;
    color: #004033;
    font-weight: 500;
}

.gauge__body{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #f3f3f4;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    margin-top: 1rem;
}

.gauge__fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #ffbf5e;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}

.gauge__cover{
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: #ffffff;
}