<div class="right-container">
    <div class="right-container-nav-bar">
        <div class="nav-bar-tabs">
            <div class="today">Today</div>
            <div class="week">Week</div>
            <div class="underline"></div>
        </div>
        <div class="nav-bar-matric">
            <div class="celsius">°C</div>
            <div class="fahrenheit">°F</div>
            <div class="profile-image"><img src="./../../../assets/profile-image.png" alt="profile image"></div>
        </div>
    </div>
    <div class="right-container-content-box">
    </div>
</div>